article {
  height: 400px;
  text-align: center;

  max-height: 550px;

  @media (orientation: portrait)and(min-width:321px) {

    height: 510px;
  }

  @media (orientation: landscape) {
    height: calc(85vh - 40px);
  }

  @media (orientation: portrait)and(min-width:768px) {

    height: calc(85vh - 40px);
  }

  .swipe-helper {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    z-index: 2;
    color: rgba(0, 0, 0, 0.424);
    opacity: 0;
    animation: swipe 0.8s 3 linear alternate, dissapear 2s linear both;
  }

  .menu {
    display: flex;
    width: 100%;
    justify-content: space-around;

    padding: 5px;

    li {
      display: block;
      width: 15%;
      text-align: center;
      font-size: 30px;
      border-radius: 10px;
      background-color: #fff;
      transition: 0.5s;
      cursor: pointer;

      @media (orientation: landscape),
      (orientation: portrait)and(min-width:768px) {
        font-size: 40px;
      }

    }

    li.color {
      background-color: rgb(66, 66, 66);
      color: white;
      transform: scale(1.2);


    }
  }
}

.slider-wrapper {
  margin: 10px auto;
  position: relative;
  width: 260px;
  height: 90%;
  perspective: 4000px;

  @media (orientation: portrait)and(min-width:321px) {

    width: 300px;
  }

  @media (orientation: landscape),
  (orientation: portrait)and(min-width:768px) {
    width: 450px;
  }





  .slider {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-480px);
    transition: 0.3s;
    cursor: move;

    @media (orientation: landscape),
    (orientation: portrait)and(min-width:768px) {
      transform: translateZ(-720px);
    }

  }

  .card {
    position: absolute;
    perspective: 1000px;
    width: 100%;
    height: 100%;

    border-radius: 20px;
    background-color: rgb(126, 126, 126);
    border: 4px solid #29292999;
  }

  .slider-experience {

    transform: rotateY(-72deg) translateZ(480px);

    @media (orientation: landscape),
    (orientation: portrait)and(min-width:768px) {
      transform: rotateY(-72deg) translateZ(720px);
    }

  }

  .slider-programming {

    transform: rotateY(36deg) translateZ(480px);

    @media (orientation: landscape),
    (orientation: portrait)and(min-width:768px) {
      transform: rotateY(36deg) translateZ(720px);
    }
  }

  .slider-languages {

    transform: rotateY(72deg) translateZ(480px);

    @media (orientation: landscape),
    (orientation: portrait)and(min-width:768px) {
      transform: rotateY(72deg) translateZ(720px);
    }
  }

  .slider-education {

    transform: rotateY(-36deg) translateZ(480px);

    @media (orientation: landscape),
    (orientation: portrait)and(min-width:768px) {
      transform: rotateY(-36deg) translateZ(720px);
    }
  }

  .slider-hobbies {

    transform: rotateY(108deg) translateZ(480px);


    @media (orientation: landscape),
    (orientation: portrait)and(min-width:768px) {
      transform: rotateY(108deg) translateZ(720px);
    }
  }

  .profile-info {

    transform: translateZ(480px);
    background-color: transparent;
    border: none;

    @media (orientation: landscape),
    (orientation: portrait)and(min-width:768px) {
      transform: translateZ(720px);
    }
  }





  .slider-inner {
    height: 100%;
    display: grid;
    grid-auto-rows: max-content;
    padding: 10px;
    grid-row-gap: 10px;
    grid-column-gap: 2px;

    h2 {
      grid-column-start: 1;
      grid-column-end: 3;
      font-size: 24px;
      background-color: #d8d8d8;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      line-height: 30px;
    }

    p {
      display: flex;
      justify-content: center;
      text-align: initial;
      padding: 5px 10px;
      background-color: #d8d8d8;
      line-height: 140%;
      border-radius: 5px;
    }
  }

  .courses-box {
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;


    i {
      display: none
    }


    @media (orientation: landscape)and (max-height:500px) {
      height: 110px;
      overflow: hidden;

      i {
        display: block;
        position: absolute;
        right: 20px;
        transform: translate(-50%, -50%);
        font-size: 20px;
        cursor: pointer;
      }

      .fa-angle-up {
        top: 10px;
      }

      .fa-angle-down {
        bottom: 0px;
      }
    }


  }

  .courses-list {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 2px;

    height: 110px;
    transition: 0.3s;



    // grid-auto-rows: max-content;
    p {
      justify-content: left;
    }


  }

  .languages,
  .hobbies {
    grid-template-columns: 100%;

    .languages-box,
    .hobbies-list {
      display: grid;

      grid-row-gap: 10px;
      grid-column-gap: 2px;

      span {
        font-weight: bold;
      }
    }
  }

}

@keyframes swipe {
  0% {
    left: 20%;
  }

  100% {
    left: 80%;
  }
}

@keyframes dissapear {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}