.skills {
  @media (orientation: landscape) {
    margin-top: 10px;
  }



  .skills-images {
    display: grid;
    grid-template: 50% 50%/50% 50%;
    height: 50vh;
    width: 100%;
    overflow: hidden;
    max-width: 1440px;

    @media (orientation: landscape) {
      height: 80vh;
    }

    @media (orientation: portrait)and(min-width:540px) {
      height: 80vh;
    }

    @media (orientation: portrait)and(min-width:768px),
    (orientation: landscape)and(min-width:1024px) {
      height: 50vh;

    }

    // @media (max-height:780px) {
    //   height: 80vh;
    // }

    li {
      position: relative;
      margin: 10px;

      img {
        position: absolute;
        top: 0;
        height: 100%;
        max-width: 100%;
        object-fit: contain;

      }
    }

    li:nth-child(1) img {
      right: 150%;
      animation: 2s linear dropIn1 both paused;
    }

    li:nth-child(2) img {
      left: 150%;
      animation: 2s linear dropIn2 both paused;

    }

    li:nth-child(3) img {
      right: 0;
      transform: scale(0);
      animation: appear 2s linear both paused;

    }

    li:nth-child(4) img {
      left: 0;
      transform: scale(0);
      animation: appear 2s linear both paused;


    }

    li img.animation {
      animation-play-state: running;
    }
  }
}

@keyframes dropIn1 {
  0% {
    right: 150%;
  }

  60% {
    right: 0;
    transform: scale(1);
  }

  80% {
    right: 0;
    transform: scale(0.4, 1.2);
  }

  100% {
    right: 0;
    transform: scale(1);
  }
}

@keyframes dropIn2 {
  0% {
    left: 150%;
  }

  60% {
    left: 0;
    transform: scale(1);
  }

  80% {
    transform: scale(0.4, 1.2);
    left: 0;
  }

  100% {
    transform: scale(1);
    left: 0;
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }

  80% {

    transform: scale(1.3);
  }


  100% {
    transform: scale(1);

  }
}