<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV-Darius-Ilcevic</title>
    <style>
        body {
            display: none;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57cbe2d97a.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="greeting">
        <div class="language">
            <div class="language__intro">
                <p>Dariuš Ilcevič</p>
                <p>CV</p>
            </div>
            <button class="polish">Polski</button>
            <button class="english">English</button>
        </div>
    </div>
    <div class="wrapper">
        <header>
            <h1>Curriculum vitae</h1>
        </header>
        <div class="content">
            <article class="profile">
                <ul class="menu">
                    <li>
                        <i class="fas fa-briefcase"></i>
                    </li>
                    <li>
                        <i class="fas fa-graduation-cap"></i>
                    </li>
                    <li class="color">
                        <i class="far fa-id-card"></i>
                    </li>
                    <li>
                        <i class="far fa-keyboard"></i>
                    </li>
                    <li>
                        <i class="fas fa-globe-europe"></i>
                    </li>
                </ul>
                <div class="slider-wrapper">
                    <div class="swipe-helper"> <i class="fas fa-arrows-alt-h"></i></div>
                    <div class="slider">
                        <div class="card slider-education">
                            <div class="slider-inner education ">
                                <h2 class="pl">Wykształcenie</h2>
                                <h2 class="en">Education</h2>
                                <p>2011 - 2017</p>
                                <p class="pl">Studia dziennie, Wojskowa Akademia Techniczna, wydział Mechatroniki,
                                    kierunek Lotnictwo i Kosmonautyka</p>
                                <p class="en">Full time, Military University of Technology, Faculty of
                                    Mechatronics,Aerospace Engineering</p>
                            </div>
                        </div>
                        <div class="card slider-experience">
                            <div class="slider-inner experience ">
                                <h2 class="pl">Doświadczenie zawodowe</h2>
                                <h2 class="en">Work experience</h2>
                                <p>2016 – 2018</p>
                                <p class="pl">Nielicencjowany Mechanik Lotniczy w LOT Aircraft Maintenance Services
                                    Sp. z o.o.</p>
                                <p class="en">Unlicensed Aircraft Engineer at LOT Aircraft Maintenance Services
                                    Sp. z o.o.
                                </p>
                                <p class="pl">Od 2018</p>
                                <p class="en">Since 2018</p>
                                <p class="pl">Technolog w LOT Aircraft Maintenance Services Sp. z o.o.</p>
                                <p class="en">Technical Specialist at LOT Aircraft Maintenance Services Sp. z o.o.</p>
                            </div>
                        </div>

                        <div class=" card profile-info">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="./images/profile-picture.png" alt="Profile picture">
                                    <p class="details-front details">Details >></p>
                                </div>
                                <div class="flip-card-back">
                                    <div class="info">
                                        <p>
                                            <span class="pl">Imię i nazwisko: </span>
                                            <span class="en">Name: </span>
                                            <span>Dariuš Ilcevič</span> </p>

                                        <p>
                                            <span class="pl">Stopień wykształcenia: </span>
                                            <span class="en">Degree: </span>
                                            <span><span class="pl">Inżynier</span>
                                                <span class="en">Engineer</span></span> </p>
                                        <p>
                                            <span class="pl">Wiek: </span>
                                            <span class="en">Age: </span>
                                            <span>28</span> </p>
                                        <p>
                                            <span class="pl">Miejsce zamieszkania: </span>
                                            <span class="en">
                                                Place of residence: </span>
                                            <span><span class="pl">Warszawa, Polska</span>
                                                <span class="en">Warsaw, Poland</span></span> </p>
                                        <p>
                                            <span class="pl">Poczta: </span>
                                            <span class="en">E-mail: </span>
                                            <span>DarekXLR@gmail.com</span> </p>
                                        <p>
                                            <span class="pl">Numer tel.: </span>
                                            <span class="en">Mobile: </span>
                                            <span>+48 537 022 164</span> </p>
                                    </div>
                                    <p class="details-back details">Profile picture >></p>
                                </div>
                            </div>
                        </div>

                        <div class="card slider-programming">
                            <div class="slider-inner programming">
                                <h2 class="pl">Doświadczenie w programowaniu</h2>
                                <h2 class="en">Programming experience</h2>
                                <p class="pl">Od 2020</p>
                                <p class="en">Since 2020</p>
                                <p class="pl">Ponad 240 godzin szkoleń online</p>
                                <p class="en">Over 240 hours of online courses</p>
                            </div>
                        </div>
                        <div class="card slider-languages">
                            <div class="slider-inner languages">
                                <h2 class="pl">Języki</h2>
                                <h2 class="en">Languages</h2>
                                <p class="pl">Polski</p>
                                <p class="en">Polish</p>
                                <p class="pl">Litewski</p>
                                <p class="en">Lithuanian</p>
                                <p class="pl">Rosyjski</p>
                                <p class="en">Russian</p>
                                <p class="pl">Angielski</p>
                                <p class="en">English</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <main>
                <div class="skills ">

                    <h3 class="pl">Umiejetności</h3>
                    <h3 class="en">Skills</h3>
                    <ul class="skills-images">
                        <li><img src="./images/html-logo.png" alt=""></li>
                        <li><img src="./images/css-logo.png" alt=""></li>
                        <li><img src="./images/js-logo.png" alt=""></li>
                        <li><img src="./images/react-logo.png" alt=""></li>
                    </ul>

                </div>
            </main>
            <aside class="examples">

                <h3 class="pl">Przykładowe projekty</h3>
                <h3 class="en">Sample projects</h3>
                <ul class="pages">
                    <li><a href="https://darekxlr.github.io/Menu/" target="_blank">
                            <h4>React - One Page App</h4> <img src="./images/page1.png" alt="">
                        </a></li>
                    <li><a href="https://darekxlr.github.io/FrontEndDesign/" target="_blank">
                            <h4> Flex, responsive page</h4><img src="./images/page2.png" alt="">
                        </a></li>
                    <li> <a href="https://darekxlr.github.io/ReactApp/" target="_blank">
                            <h4>React hooks page</h4> <img src="./images/page3.png" alt="">
                        </a></li>
                </ul>


                <div class="more-pages">
                    <p class="pl">Więcej projektów na moim githubie!</p>
                    <p class="en">More projects on my github page!</p>
                    <i class="fas fa-arrow-alt-circle-right"></i>
                    <a href="https://github.com/DarekXLR" target="_blank"><img src="./images/github-logo.png"
                            alt=""></a>

                </div>

            </aside>

            <div class="scroll-icon"><i class="fas fa-caret-square-up"></i></div>
        </div>
    </div>

</body>

</html>